### mutable and immutable

In [1]:
"""
Mutable:-
1)List
2)Set
3)Dictionary
4)ByteArray
5)Array

Immutable:-
1)Integer
2)Float
3)Boolean
4)String
5)Tuple
6)Frozen Set
7)Bytes

"""

'\nMutable:-\n1)List\n2)Set\n3)Dictionary\n4)ByteArray\n5)Array\n\nImmutable:-\n1)Integer\n2)Float\n3)Boolean\n4)String\n5)Tuple\n6)Frozen Set\n7)Bytes\n\n'

In [2]:
username = "yamini kant"
print(username)
print(id(username), '\n')

username = 'chai aur code'
print(username)
print(id(username))

yamini kant
2902346321264

chai aur code
2902346321968

In [3]:
x = 10
y = x 
print('x = ', x, ', id-', id(x))
print('y = ', y, ', id-', id(y),'\n') 

x = 15
print('x = ', x, ', id-', id(x))
print('y = ', y, ', id-', id(y))

x =  10 , id- 140726182978968
y =  10 , id- 140726182978968

x =  15 , id- 140726182979128
y =  10 , id- 140726182978968

In [4]:
x = 10
y = x 
print('x = ', x, ', id-', id(x))
print('y = ', y, ', id-', id(y),'\n') 

x = 15
y = x
print('x = ', x, ', id-', id(x))
print('y = ', y, ', id-', id(y))

x =  10 , id- 140726182978968
y =  10 , id- 140726182978968

x =  15 , id- 140726182979128
y =  15 , id- 140726182979128