In [1]:
"""
-> It is also mutuable and immutable but in it we will understand how it internaly works also learn how memory allocation works
   (with the help of id)because memory allocation will tell us how mutable and immutable work 

-> Then will learn how copy operation works 

"""

'\n-> It is also mutuable and immutable but in it we will understand how it internaly works also learn how memory allocation works\n   (with the help of id)because memory allocation will tell us how mutable and immutable work \n\n-> Then will learn how copy operation works \n\n'

In [2]:
"""
-> In it we have taken immutable data type i.e int float and string 
-> In immutable data type when we assign a new value to same variable it creates a new memory space for it and the old data or 
   value will go to Garbage collection 

-> In python when we reassign a new value to same variable it pushes the old value to Garbage collection and remembers the latest value

-> In the below example we see how immuttable data type works, every time when value is changed and because the data type is immutable
   so every time it creating a new space(memory id)
   
"""

a = 3
a = 'chai aur code'
a = 3.14
a = 5
b = 2

print('a = ',a, ', id-', id(a))
print('b = ',b, ', id-', id(b))

# even when we add value it will also change memory id
a = a+2
print('a = ',a, ', id-', id(a))

a =  5 , id- 140728247493880
b =  2 , id- 140728247493784
a =  7 , id- 140728247493944

In [3]:
a = 1234
print('a = ',a, ', id-', id(a))

a = 1234
print('a = ',a, ', id-', id(a),'(even wheater value is same still it allocates new memory space  because of immutable in nature)')

a = 'chai'
print('a = ',a, ', id-', id(a))

a = 3.14
print('a = ',a, ', id-', id(a))

a = 5
b = 2
print('a = ',a, ', id-', id(a))
print('b = ',b, ', id-', id(b))

a = a+2
print('a = ',a, ', id-', id(a))

a =  1234 , id- 1555560890704
a =  1234 , id- 1555560891152 (even wheater value is same still it allocates new memory space  because of immutable in nature)
a =  chai , id- 1555518090784
a =  3.14 , id- 1555536113808
a =  5 , id- 140728247493880
b =  2 , id- 140728247493784
a =  7 , id- 140728247493944

In [4]:
"""
-> Now we will understand how mutuable data type works 
-> In the below example we see how muttable data type works, every time when value is changed and because the data type is mutable
   so every time it will not creating a new memory space it will just change the data 

"""
myListOne = [1, 2, 3]
myListTwo = myListOne
print(myListOne, ', id-',  id(myListOne))             # in it both listOne and listTwo have same refference id
print(myListTwo, ', id-',  id(myListTwo),'\n')        # in it both listOne and listTwo have same refference id 

myListOne = 'chai'                                    # here we reassign the value to 'chai' (which is a immutable data type)
print(myListOne, ', id-',  id(myListOne))             # here we will get a new id bcz we reassign with a new value
print(myListTwo, ', id-',  id(myListTwo),'\n')        # listTwo id is same as previous

myListOne = [1, 2, 3]                                 # here may be value looks same but we reassign it so memory refference will be different
print(myListOne, ', id-',  id(myListOne))             # got a new memory refference
print(myListTwo, ', id-',  id(myListTwo),'\n')        # listTwo id is same as previous

myListOne[0] = 143                                    # here we change the first index value (as list is mutuable)
print(myListOne, ', id-',  id(myListOne))             # but the memory reference is same as previous reassigned
print(myListTwo, ', id-',  id(myListTwo))             # listTwo id is same as previous

[1, 2, 3] , id- 1555560980224
[1, 2, 3] , id- 1555560980224

chai , id- 1555518090784
[1, 2, 3] , id- 1555560980224

[1, 2, 3] , id- 1555560980416
[1, 2, 3] , id- 1555560980224

[143, 2, 3] , id- 1555560980416
[1, 2, 3] , id- 1555560980224

In [5]:
l1 =[1, 2, 3]
l2 = l1
print(l1, id(l1))
print(l2, id(l2), '\n')

l1[0] = 10
print(l1, id(l1))
print(l2, id(l2), '\n')

l2[0] = 100
print(l1, id(l1))
print(l2, id(l2))

[1, 2, 3] 1555560981440
[1, 2, 3] 1555560981440

[10, 2, 3] 1555560981440
[10, 2, 3] 1555560981440

[100, 2, 3] 1555560981440
[100, 2, 3] 1555560981440

In [6]:
p1 = [1, 2, 3]
p2 = p1
print(p1, id(p1))
print(p2, id(p2),'\n')

p2 = [1, 2, 3]                 # value looks same but refference is different bcz we reassign
print(p1, id(p1))
print(p2, id(p2),'\n')

p1[0] = 5                       # change inner value using indexing stil same refference bcz of muttable in nature
print(p1, id(p1))
print(p2, id(p2))

[1, 2, 3] 1555560979840
[1, 2, 3] 1555560979840

[1, 2, 3] 1555560979840
[1, 2, 3] 1555560980608

[5, 2, 3] 1555560979840
[1, 2, 3] 1555560980608

In [7]:
# in the bellow example h1 and h2 have differnt id bcz its not a normal copy its a shallow copy

h1 = [1,2,3,4,5]
h2 = h1[:]
print(h1, id(h1))
print(h2, id(h2), '\n')

h1[0] = 10
print(h1, id(h1))
print(h2, id(h2))

[1, 2, 3, 4, 5] 1555560988096
[1, 2, 3, 4, 5] 1555560988352

[10, 2, 3, 4, 5] 1555560988096
[1, 2, 3, 4, 5] 1555560988352

In [8]:
n = [1,2,3,4,5]
m = n
print(m, id(m))
print(n, id(n), '\n')

print(m == n)                # checks only value
print(m is n, '\n')          # checks the reference

m = [1,2,3,4,5]             # reassign same value
print(m, id(m))
print(n, id(n), '\n')

print(m == n)               # true bcz value is same
print(m is n)               # but false bcz we reassign value and refference is different

[1, 2, 3, 4, 5] 1555560997440
[1, 2, 3, 4, 5] 1555560997440

True
True

[1, 2, 3, 4, 5] 1555560996928
[1, 2, 3, 4, 5] 1555560997440

True
False

'\n->A copy operation in Python means creating a new variable or object based on an existing one so that data can be reused without\n(or with limited) shared memory.\n\n-> It is of 3 types\n1) normal copy\n2) shallow copy\n3) deep copy\n\n'

a =  [1, 2, 3] , id- 1555560981184
b =  [1, 2, 3] , id- 1555560981184

a =  [11, 2, 3] , id- 1555560981184
b =  [11, 2, 3] , id- 1555560981184

a =  [11, 22, 3] , id- 1555560981184
b =  [11, 22, 3] , id- 1555560981184

a =  [1, 2, 3] , id- 1555560994176
b =  [1, 2, 3] , id- 1555560596544

a =  [11, 2, 3] , id- 1555560994176
b =  [1, 2, 3] , id- 1555560596544

a =  [11, 2, 3] , id- 1555560994176
b =  [1, 22, 3] , id- 1555560596544

a =  [1, 2, 3, 4, 5] , id- 1555560981184
b =  [1, 2, 3, 4, 5] , id- 1555560994880

a =  [10, 2, 3, 4, 5] , id- 1555560981184
b =  [1, 2, 3, 4, 5] , id- 1555560994880

a =  [10, 2, 3, 4, 5] , id- 1555560981184
b =  [1, 20, 3, 4, 5] , id- 1555560994880

a =  [[1, 2, 3], [4, 5, 6]] , id- 1555561078208
b =  [[1, 2, 3], [4, 5, 6]] , id- 1555561078656

a[0] =  [1, 2, 3] , id- 1555561078272 , a[1] =  [4, 5, 6] 1555561078336
b[0] =  [1, 2, 3] , id- 1555561078272 , b[1] =  [4, 5, 6] 1555561078336

a =  [[10, 2, 3], [4, 5, 6]] , id- 1555561078208
b =  [[10, 2, 3], [4, 5, 6]] , id- 1555561078656

a =  [[10, 2, 3], [40, 5, 6]] , id- 1555561078208
b =  [[10, 2, 3], [40, 5, 6]] , id- 1555561078656

a[0] =  [10, 2, 3] , id- 1555561078272 , a[1] =  [40, 5, 6] 1555561078336
b[0] =  [10, 2, 3] , id- 1555561078272 , b[1] =  [40, 5, 6] 1555561078336

a =  [[1, 2, 3, 4], [5, 6, 7, 8]] , id- 1555561077312
b =  [[1, 2, 3, 4], [5, 6, 7, 8]] , id- 1555561078016

a[0] =  [1, 2, 3, 4] , id- 1555560981184 , a[1] =  [5, 6, 7, 8] 1555561078592
b[0] =  [1, 2, 3, 4] , id- 1555560994880 , b[1] =  [5, 6, 7, 8] 1555561041152

a =  [[10, 2, 3, 4], [5, 6, 7, 8]] , id- 1555561077312
b =  [[1, 2, 3, 4], [5, 6, 7, 8]] , id- 1555561078016

a =  [[10, 2, 3, 4], [5, 6, 7, 8]] , id- 1555561077312
b =  [[1, 2, 3, 4], [50, 6, 7, 8]] , id- 1555561078016

a[0] =  [10, 2, 3, 4] , id- 1555560981184 , a[1] =  [5, 6, 7, 8] 1555561078592
b[0] =  [1, 2, 3, 4] , id- 1555560994880 , b[1] =  [50, 6, 7, 8] 1555561041152